body {
    font-family: system-ui, "Noto Sans JP", "Yu Gothic";
    width: 850px;
} 
* {
	box-sizing: border-box;
}

@media screen and (min-width: 481px){
	.site-header h1{ 
		font-size: 1.8rem;
	} 
	.content {
    padding: 0 1rem;
	} 
	video{
	}
}

@media screen and (max-width: 480px){
	.site-header h1 { 
	font-size: 1.8rem;
	} 
	.content { 
		display: block; padding: 0 1rem;
	}
	video{
    display: none;
	}
}
